.languageButton
  display: flex
  align-items: center
  width: 30px
  height: 30px
  line-height: 2
  color: #fff
  background-color: $monza
  justify-content: center
  margin-left: 30px
  +max(1050)
    justify-content: center
    margin-left: 0
