.aboutTheOfferPhotoRight

  &__offerItem 
    width: 100%
    margin-top: 34px
    position: relative
    display: flex 
    padding-bottom: 38px
    +max(760)
      display: inherit
      flex-wrap: wrap
      padding-bottom: 0

  &__textUnderPhoto
    font-size: 10px  
    color: $dusty-gray
    padding-top: 10px
    text-align: center
    // +max(500)
    //   visibility: hidden


  &__photoDetailsLeft
    position: relative
    flex: 1 0 40%   // flex:   auto
    padding-left: 100px
    +max(760)
      padding-left: 0px

  &__textDetailsRight
    position: relative
    flex: 0 1 auto
    // flex: 1 0 40%
    +max(760)
      padding: 10px 0


  &__photo
    background: #d2d2d2 
    width: 370px
    height: 370px
    position: relative
    margin: 0 auto
    max-width: 100%
    max-height: 100%

    // +max(500)
    //   width: 0
    //   height: 0
    // visibility: hidden //jak bedzie zdjecie



  &__title
    font-family: Lato , Helvetica, black
    font-weight: 700
    font-size: 24px
    color: $monza
    padding-bottom: 15px   
    +max(760)
      font-size: 20px
      text-align: center

  &__text
    font-size: 20px
    color: #444343
    font-family: Lato Lato , Helvetica
    text-align: justify
    color: #767575
    +max(960)
      font-size: 16px
      padding-bottom: 20px
