.aboutTheOfferPhotoRight
  .aboutTheOfferPhotoRight__offerItem
    .textAndPhotoBoxOffer
      .textAndPhotoBoxOffer__textItem 
        .textAndPhotoBoxOffer__title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum magna vel mi rhoncus, quis porttitor turpis pulvinar. 
        .textAndPhotoBoxOffer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum magna vel mi rhoncus, quis porttitor turpis pulvinar. Maecenas eu eros dapibus, sodales nibh vel, sollicitudin turpis. Aenean eget mi a ante facilisis vehicula. Proin eleifend, dolor in tempus blandit, neque purus iaculis mauris, ac aliquet lorem metus id neque. Mauris facilisis, sapien sed tincidunt gravida, enim turpis malesuada libero, sit amet sagittis justo sapien quis augue. In a tristique velit. Curabitur vel ante vitae urna sagittis ultrices. Sed a semper ante.
        .textAndPhotoBoxOffer__text Aenean eget mi a ante facilisis vehicula. Proin eleifend, dolor in tempus blandit, neque purus iaculis mauris, ac aliquet lorem metus id neque. Mauris facilisis, sapien sed tincidunt gravida, enim turpis malesuada libero, sit amet sagittis justo sapien quis augue. In a tristique velit. Curabitur vel ante vitae urna sagittis ultrices. Sed a semper ante.
    .aboutTheOfferPhotoRight__photoDetailsLeft
          .aboutTheOfferPhotoRight__photo
          .aboutTheOfferPhotoRight__textUnderPhoto /Tutaj powinien znajdowac sie opis przykładowego zdjęcia ktorego nie ma 
