.open
  img.logo(src="assets/images/header/360zagle.svg" alt = "logo")
  img.open__image(src="assets/images/bg.png")
  .open__container1   
    a.open__item(href="#") 
      img.open__icon(src="assets/images/open/yacht.svg" alt="yacht" ) 
      .open__text EXTREME SAILING
    a.open__item(href="#")
      img.open__icon(src="assets/images/open/group.svg" alt="group") 
      .open__text TEAM BUILDING
    a.open__item(href="#")
      img.open__icon(src="assets/images/open/hospital.svg" alt="hospital" ) 
      .open__text CORPORATE HOSPITALITY

    