.open
  position: relative
  +max(1204)
    bottom: -3px
  &__image
    position: relative
    margin: 0 auto
    max-width: 100%
    width: 100%
    height: auto
    z-index: -1



  &__container1
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    height: 200px
    position: absolute
    bottom: 20px
    color: white
    z-index: 1
    padding: 0 15px
    margin: 0 auto
    +max(969) 
      position: relative
      padding-top: 20px
      height: auto


  &__item 
    padding-right: 100px
    justify-content: center
    display: flex
    align-items: center
    +max(1166)
      padding-right: 70px
    +max(969)
      width: 100%
      display: block
      bottom: 0
      flex-direction: column 
      font-size: 15px
      padding-right: 0
      color: black

  &__icon
    width: 65px
    height: 65px
    border-radius: 100%
    background-color: $monza 
    color: $porcelain
    border: 1px solid #68030a
    z-index: 99
    padding: 7px
    +max(1166)
      margin: 10px 0
      width: 45px
      height: 45px



  &__text 
    font-size: 20px
    margin-left: 20px
    font-weight: bold
    margin-bottom: 10px
    +max(1166)
      font-size: 17px
    +max(969)
      width: 100%
      margin-left: 0
      bottom: 20px
      flex-direction: column 
      font-size: 15px
      padding-right: 0
      color: black

