.newsletter
  .newsletter__name
    .newsletter__title NEWSLETTER
    .newsletter__subtitle Zapisz się do newslettera
      form 
        .newsletter__SendButton
          input.newsletter__buttonGiveYourAdressEmail(type="text" value="Wpisz swoj adres email...") 
          button.newsletter__buttonConsent(type='submit' style="align-item:right" ) OK
    include ../socialIcon/socialIcon
    .newsletter__CopyBox Website by EVG.group ©Copyright 2017 Sailing 360

  