.newsletter
  &__name
    padding: 25px 0 8px 10px
    text-align: right
    align-items: right
    font-family: Lato,  Helvetica, sans-serif
    font-size: 16px
    +max(1173)
      width: 100%
      text-align: center
      font-size: 13px
      padding: 10px 0 0 0

  &__title
    font-weight: 700

  &__SendButton
    text-align: right
    width: 100%
    margin-top: 10px 
    margin-bottom: 10px
    +max(1173)
      text-align: center

      
  &__buttonGiveYourAdressEmail
    width: 240px
    height: 30px
    background: white 
    border: 1px solid #cdcccc
    border-radius: 5px 0 0 5px
    text-align: left
    font-size: 12px
    padding-left: 10px
    

  &__buttonConsent
    background: #2f2f2d
    font-size: 12px
    height: 30px
    width: 40px
    color: white
    border: 1px solid #2f2f2d
    border-radius: 0 5px 5px 0

  &__CopyBox
    padding-top: 35px
    font-size: 12px
    