.footer
  padding: 20px 0
  background: #d2d2d2 
  border-top: 2px solid $monza
  max-width: 100%


  &__container
    +container
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    z-index: 99
    +max(836)
      text-align: center
      flex-direction: column
      width: 100%

  

