footer.footer
  .footer__container
    img.logo(src="assets/images/header/360zagle.svg" alt = "logo")
    include ../footerContact/footerContact
    include ../footerAdress/footerAdress
    include ../footerNewsletter/footerNewsletter

