doctype html
html( lang="pl")
  head
    title Szablon

    meta(charset='utf-8')
    meta(name='title', content='Szablon')
    meta(name='description', content='Szablon opis')
    meta(name='keywords', content='Szablon keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")


    link(href='assets/styles/main.min.css', rel='stylesheet')

  body
    include ../components/header/header
    block content
    include ../components/footer/footer
    script(src='assets/scripts/main.min.js' type="text/javascript")
