.videoSmall
  padding: 10px

  &__box
    text-align: center
    align-item: center
    margin: 10px

  &__image
    display: block
    width: 100%
    padding: 10px
    height: auto 
    max-width: 100%
    img:hover 
      opacity: 0.9
  
  &__text
    font-family: Lato , Helvetica, black
    font-weight: normal
    font-size: 14px
    padding-top: 20px
    padding-right: 50px
    padding-left: 10px
    text-align: justify
    color: $dusty-gray
    +max(589)
      padding-right: 7px

  .slick-prev, .slick-next 
    top: 25%
  .slick-prev:before
    color: $dusty-gray
    content: "<"
    font-size: 45px
    font-weight: bold
  .slick-next:before
    color: $dusty-gray
    content: ">"
    font-size: 45px
    font-weight: bold
