.videoSmall
  .videoSmall__box
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.
    .videoSmall__single
      img.videoSmall__image(src="assets/images/bg.png" alt="obraz") 
      .videoSmall__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.