.opinion

  &__sliderOpinionBox
    width: 100%
    margin-top: 34px
    display: flex
    // 
    position: relative

  &__sliderItem 
    position: relative
    display: flex !important
    padding-bottom: 38px
    +max(760)
      display: inherit
      // flex-direction: row
      flex-wrap: wrap
    
  .slick-active :before
    display: block

  &__sliderDetailsLeft
    position: relative
    flex: 1 0 40%


  &__sliderDetailsRight
    padding: 0 10px
    position: relative
    flex: 0 1 auto
    +max(760)
      padding: 10px 0


  &__imageInSlider
    background: #d2d2d2 
    width: 370px
    height: 370px
    +max(760)
      width: 100%
    +max(500)
      width: 0
      height: 0
    // visibility: hidden //jak bedzie zdjecie



  &__title
    font-family: Lato , Helvetica, black
    font-weight: 700
    font-size: 24px
    color: $monza
    padding-bottom: 15px   
    +max(760)
      font-size: 20px
      text-align: center

  &__textInSlider
    font-size: 20px
    color: #444343
    font-family: Lato Lato , Helvetica
    text-align: justify
    color: #767575
    +max(960)
      font-size: 16px
      padding-bottom: 20px

.slick-dots 
  position: absolute
  bottom: 50px
  list-style: none
  display: block
  text-align: right
  margin: 0
  width: 100%
  li 
    position: relative
    display: inline-block
    border-radius: 100%
    width: 14px
    height: 14px
    margin: 0 5px
    padding: 0
    cursor: pointer
    button 
      background: $alto
      border-radius: 100%
      width: 14px
      height: 14px
      color: $alto
      &:before
        content: ""   
        color: transparent 
      &:hover, &:focus 
        outline: none
        background: $monza
        &:before 
          opacity: $slick-opacity-on-hover
  +max(760)
    text-align: center
    bottom: 20px
 
