.opinion
  .video__title OPINIE
  .opinion__sliderOpinionBox
    .opinion__sliderItem
      .opinion__sliderDetailsLeft
        .opinion__imageInSlider 
      .opinion__sliderDetailsRight
        .opinion__title Żeglowanie zmienia postrzeganie świata i rozszczerza horyzonty
        .opinion__textInSlider Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .opinion__sliderItem
      .opinion__sliderDetailsLeft
        .opinion__imageInSlider
      .opinion__sliderDetailsRight
        .opinion__title Żeglowanie zmienia postrzeganie świata i rozszczerza horyzonty      
        .opinion__textInSlider Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.    
    .opinion__sliderItem
      .opinion__sliderDetailsLeft
        .opinion__imageInSlider
      .opinion__sliderDetailsRight
        .opinion__title Żeglowanie zmienia postrzeganie świata i rozszczerza horyzonty
        .opinion__textInSlider Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .opinion__sliderItem
      .opinion__sliderDetailsLeft
        .opinion__imageInSlider
      .opinion__sliderDetailsRight
        .opinion__title Żeglowanie zmienia postrzeganie świata i rozszczerza horyzonty
        .opinion__textInSlider Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
      .slick-dots 
