.video
  .video__title VIDEO
  .video__box
    .video__single 
      img.video__image(src="assets/images/bg.png" alt="obraz")
      .video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .video__single 
      img.video__image(src="assets/images/bg.png" alt="obraz")
      .video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .video__single 
      img.video__image(src="assets/images/bg.png" alt="obraz")
      .video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non.  
    .video__single 
      img.video__image(src="assets/images/bg.png" alt="obraz")
      .video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 
    .video__single 
      img.video__image(src="assets/images/bg.png" alt="obraz")
      .video__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque varius erat, ultrices ornare ex interdum non. 

