.video
  padding: 10px
  &__title 
    color: $monza  
    font-weight: bold
    font-size: 18px
    border-bottom: 1px solid $alto
    padding-bottom: 10px




  &__box
    text-align: center
    color: white
    align-item: center
    margin-top: 20px
    margin-bottom: 20px

  &__image
    border: 1px solid black
    display: block
    width: 100%
    height: auto 
    max-width: 100%


  &__text
    border: 1px solid black 
    font-family: Lato , Helvetica, black
    font-weight: 700
    background: #efeeed
    font-size: 15px
    text-align: left
    padding: 46px
    color: $dusty-gray

    +max(528)
      padding: 20px
      text-align: center
      font-weight: normal


    
