.insertOffer
  &__container
    +container
  &__icon
    color: white
    background: $monza
    border: 1px solid $monza
    border-radius: 100%
    font-size: 50px
    width: 50px
    height: 50px
    position: absolute
    justify-content: center
    margin-top: 270px
    margin-left: 100px
    padding-left: 10px



