.insertOffer
  i.insertOffer__icon.fas.fa-angle-left
  .insertOffer__container
    include ../offerShortInfo/offerShortInfo
    //- include ../opinion/opinion
    include ../infoAboutTheOffer/infoAboutTheOffer
    include ../video/videoBox
    include ../infoAboutTheOffer/infoAboutTheOfferPhotoRight
    include ../textBoxOffer/textBoxOffer
    include ../news/newsinOffer
