.offerShortInfo
  a.offerShortInfo__offerBox(href="#")
    .offerShortInfo__item
      i.offerShortInfo__icon.fa.fa-calendar-alt
      .offerShortInfo__offerInfo
        .offerShortInfo__title Termin:
        .offerShortInfo__offerDetails 3.02-18.02
  a.offerShortInfo__offerBox(href="#")
    .offerShortInfo__item
      i.offerShortInfo__icon.fa.fa-clock
      .offerShortInfo__offerInfo
        .offerShortInfo__title Czas trwania:
        .offerShortInfo__offerDetails 17 dni
  a.offerShortInfo__offerBox(href="#")
    .offerShortInfo__item
      i.offerShortInfo__icon.fas.fa-swimmer
      .offerShortInfo__offerInfo
        .offerShortInfo__title Typ:
        .offerShortInfo__offerDetails Kurs nurkowania
  a.offerShortInfo__offerBox(href="#")
    .offerShortInfo__item
      i.offerShortInfo__icon.fas.fa-coins
      .offerShortInfo__offerInfo
        .offerShortInfo__title Cena:
        .offerShortInfo__offerDetails 5000zl
  a.offerShortInfo__offerBox(href="#")
    .offerShortInfo__item
      i.offerShortInfo__icon.fa.fa-calendar-check
      .offerShortInfo__offerInfo
        .offerShortInfo__FormDownload Formularz zgłoszeniowy
  