.offerShortInfo
  display: flex
  text-align: center
  font-size: 16px
  color: $heavy-metal
  font-family: Lato, Helvetica, sans-serif
  width: 100%
  height: auto
  margin: 88px 0 77px 0
  +max(1050)
    margin-bottom: 10px
    display: block
    width: 100%
    justify-content: center
    margin-top: 30px

  &__offerBox
    display: flex
    border: 1px solid $nobel
    width: 20%
    background: white
    padding: 20px 25px
    height: auto
    +max(1050)
      width: 100%
      text-align: center
      justify-content: center
    +max(820)
      justify-content: right
      padding-left:  20px
    
    



  &__item
    display: flex
    justify-content: center
    // margin: 0 auto
    max-width: 100%
    +max(320)
      align-item: right
  &__icon
    font-size: 45px
    padding-right: 25px 
    color: $dusty-gray


  
  &__offerInfo
    display: block
    text-align: left
    font-size: 12px
    color: $dusty-gray
    font-family: Lato, Helvetica, regular
    justify-content: center

  &__FormDownload
    font-size: 16px

    &:hover
      color: $monza
  &__offerDetails
    font-size: 16px
    color: $black
    font-weight: 700


