.social  
  display: flex
  margin-left: 10px
  
  &__item
    margin-left: 30px
    display: flex
    width: 30px
    height: 30px
    border-radius: 100%
    background-color: $heavy-metal
    color: $porcelain
    justify-content: center
    align-items: center
    font-size: 20px  
    &:hover
      background-color: $monza
    +max(1050)
      margin-left: 30px
      &:first-child
        margin-left: 0
        
  +max(1050)
    justify-content: center
    width: 100%
    padding-bottom: 10px
    margin-left: 0


  .footer & 
    padding-left: 200px
    margin: 0
    +max(1173)
      text-align: center
      padding-left: 0
