.logo
  padding-right: 40px
  +max(1173)
    width: 100%
    position: center
    padding-right: 0
  +max(737)
    padding: 10px 0
    width: 100%
  .open &
    width: 18%
    height: 18%
    position: absolute
    left: 51%
    top: 27%
    padding-right: 0
    +max(969)
      visibility: hidden
  .footer &
    width: 126px
    height: 126px
    padding-right: 20px
    +max(1050)
      width: 100%
      position: center
      padding-right: 0
      margin-bottom: 10px