.header
  padding: 20px 0
  background: rgba(234, 235, 237, 0.85)
  position: fixed
  width: 100%
  z-index: 99
  +max(737)
    position: static
  &__container
    +container
    text-align: center
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    z-index: 99
  @media screen and (max-width: 737px)
    background: #bbb8b5
    
