.blogSlider
  .video__title BLOG:  
  .blogSlider__sliderOpinionBox
    .blogSlider__galleryofEvents
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017       
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem       
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017 
      .blogSlider__galleryItem          
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem          
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem          
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")     
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017
      .blogSlider__galleryItem         
        .blogSlider__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .blogSlider__textCaption
            .blogSlider__eventName Etiam aliquet in bla risus eu
            .blogSlider__eventShort Aenean nunc risus, rhoncus non luctus vitae, lobortis et nisi. Nulla sollicitudin imperdiet arcu. Nulla sollicitudin imperdiet arcununc risus.      
            .video__title
            .blogSlider__eventData Luty 2017     
  .blogSlider__dotsBox               
    a.blogSlider__link   
      .blogSlider__dots 
      .blogSlider__dots 
      .blogSlider__dots 
      .blogSlider__dots 
    