.blogSlider
  padding: 30px 0
  &__sliderOpinionBox
    padding: 30px 0

  &__galleryofEvents
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    margin: 0 -8px
    justify-content: left
  &__galleryItem
    width: 33.33%
    position: relative
    box-sizing: border-box
    padding: 0 8px
    padding-bottom: 10px
    
    +max(969)
      width: 50%
      display: block
      padding-left: 0
      padding-right: 10px
      align-self: center
    +max(468)
      width: 100%
    

  &__galleryDetails
    position: relative
    width: 100%
  &__textCaption
    padding: 24px 0
    height: auto
    width: 100%
    font-family: Lato, Helvetica, black
  &__eventName     
    font-weight: 700
    font-size: 20px
    padding-bottom: 8px
    text-align: left
    &:hover
      color: $monza
      text-decoration: underline

    +max(969)
      font-size: 15px
  &__eventShort
    font-size: 16px
    font-weight: 400
    +max(969)
      font-size: 12px
  &__eventData
    padding-top: 10px
    font-size: 16px
    text-align: right 
    font-weight: 400
    +max(969)
      font-size: 12px
  &__dotsBox
    text-align: center

  &__dots
    display: inline-block
    padding-right: 10px
    height: 15px
    margin-left: 10px
    background: #d2d2d2
    border-radius: 100%
    width: 15px
    &:hover
      background: $monza
    &:first-child
      margin-left: 0
