.textAndPhotoBoxOffer
  margin-bottom: 40px
  &__title
    font-family: Lato , Helvetica
    font-size: 26px
    color: $monza
    padding-top: 20px
    padding-bottom: 15px   
    font-weight: normal
    +max(760)
      font-size: 20px
      text-align: center

  &__text
    font-size: 16px
    color: #444343
    font-family: Lato Lato , Helvetica
    text-align: justify
    color: #767575
    padding-bottom: 20px
    flex: 0 1 auto

    +max(960)
      font-size: 12px
      padding-bottom: 20px

  &__photoItem
    width: 100%
    display: flex
    text-align: center
    padding-top: 10px
    justify-content: space-between
    +max(1135)
      display: block
  &__photoBox
    width: 33.33%
    display: flex
    height: auto
    padding: 10px
    +max(1135)
      width: 100%
      justify-content: center

  &__photo
    width: 370px
    height: 370px
    background: $alto
