.contact
  .contact__detailsContact
    .contact__title KONTAKT
    .contact__name Lorem Ipsum
    .contact__phoneNumber (+48) XXX XXX XXX
    .contact__email lorem@ipsum.pl
  .contact__detailsContact.--next
    .contact__name Lorem Ipsum
    .contact__phoneNumber (+48) XXX XXX XXX
    .contact__email lorem@ipsum.pl
