adress
  .adress__detailsAdress
    .adress__title ADRES
    .adress__placeDetails ul. Etiudy Rewolucyjnej 44,72
    .adress__zipCode 02-643 Warszawa
  .adress__detailsAdress.--next
    .adress__nipNumber (+48) XXX XXX XXX
    .adress__regonNumber lorem@ipsum.pl
