.adress
  &__detailsAdress
    padding: 25px 10px 8px 10px
    text-align: left
    font-family: Lato,  Helvetica, sans-serif
    font-size: 16px
    margin: 0 60px
    +max(1173)
      text-align: center
      font-size: 13px
      padding: 10px 0 0 0

  &.--next
    padding: 10px 0

  &__title
    font-weight: 700

