.menu
  &__hamburgerBox
    padding-bottom: 10px
    position: absolute
    top: 25px
    left: 20px
    &:hover
      cursor: pointer
      
  &__hamburger
    +max(737)
      display: block
      width: 40px
      height: 4px
      padding-bottom: 4px
      background-color: grey 
      margin: 8px 0  
      transition: all 0.3s ease-in-out
      &:hover
        transform: translateX(15px)
        width: 40px
      &:nth-child(1) 
        background-color: $monza
  .video__title 
    +max(737)
      padding-bottom: 0
    &:hover
      color: $monza
  &__itemMenu
    display: flex
    text-align: center
    font-size: 16px
    color: $heavy-metal
    font-family: "Source Without Pro", sans-serif
    padding-left: 30px
    +max(1050)
      padding-left: 0
      padding-bottom: 20px
      padding-top: 10px
    +max(737)
      flex-direction: column 
      width: 100% 
  &__item
    padding-right: 40px
    font-weight: bold
    &:hover
      color: $monza
      // box-shadow: 0 0 100px 5px grey
  
      +max(737)
        color: black
        font-weight: 700
        padding-right: 20px
        padding-left: 20px
    +max(1050)  
      padding-right: 40px
      &:last-child
        padding-right: 0

    +max(737)
      padding-bottom: 10px
      padding-top: 10px
      padding-right: 0
      font-weight: normal
  




