.menu
  .menu__hamburgerBox
    .menu__hamburger
    .menu__hamburger
    .menu__hamburger
  .menu__itemMenu
    .video__title 
    a.menu__item(href="#") STRONA GŁOWNA
    .video__title 
    a.menu__item(href="#") O NAS
    .video__title 
    a.menu__item(href="#") BLOG
    .video__title 
    a.menu__item(href="#") JACHT
    .video__title 
    a.menu__item(href="#") OFERTA
    .video__title 
    a.menu__item(href="#") KONTAKT
    .video__title 
    
    
    

      
