=container
  +clearfix
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 0 15px

.container
  +container

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

body

  position: relative
  min-width: 320px
  width: 100%
  height: 100%
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 55%,rgb(240,240,240) 55%)
header


  
input
  -webkit-appearance: none
