//- WEBSITE FONTS
//==========================================================================

//font awesome import
$fa-font-path: "../fonts/font awesome"
@import "node_modules/font-awesome/scss/font-awesome.scss"

//google fonts loaded dynamically
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&subset=latin-ext')
=font-raleway
  font-family: "Raleway", sans-serif


body
  +font-raleway
  +rem(font-size, 18px)
  background-color: $white
  color: $black
  font-weight: 400
  line-height: 1.4

  b, strong
    font-weight: 700

  a
    color: inherit
    text-decoration: none
