.news
  &__events
    width: 100%
    display: flex
    padding: 20px 0
    +max(969)
      display: block
  &__menu
    width: 33.33%
    border: 1px solid $gallery
    background: white
    padding: 25px 
    height: 235px
    +max(969)
      width: 100%

  &__menuItems
    width: 100%
    height: auto
    font-weight: bold
    display: flex
    padding-top: 8px
    padding-bottom: 8px
    position: relative

  &__EventName
    padding-right: 60px
    +max(969)
      font-size: 12px
  &__number
    background-color: $dusty-gray
    width: 30px
    height: 17px
    text-align: center
    color: white
    font-size: 12px
    position: absolute
    right: 0
    &:hover
      background-color: $monza







  &__galleryofEvents
    width: 66.66%
    display: flex
    flex-wrap: wrap
    // position: relative
    +max(969)
      padding-top: 10px
      width: 100%
    +max(468)
      display:  block
    //   width: 100%
    //   display: block

  &__galleryItem
    width: 50%
    position: relative
    margin: 0 auto
    padding-left: 10px
    padding-bottom: 10px
    bottom: 0
    left: 0
    +max(468)
      width: 100%

  &__galleryDetails
    position: relative
    width: 100%
    border: 1px solid $gallery


  &__imageCaption
    color: $porcelain
    background: rgba(46,48,51,0.75)
    height: 64px
    padding: 0 20px
    position: absolute
    font-weight: bold
    width: 100%
    bottom: 0
    left: 0
    font-size: 15px
    +max(468)
      font-size: 12px
  &__eventName 
    border-top: 2px solid white
    width: 100%
    padding-top: 10px
  &__eventData
    font-size: 12px      
  &__image
    width: 100%


  &__iconOnEvent  
    color: $porcelain
    position: absolute
    font-weight: bold
    width: 100%
    margin: 10px


    &__textOnIcon
    align-content: center
    background: $monza
    width: 65px
    height: 18px
    text-align: center
    display: inline
    top: 0
    right: 0
    font-size: 12px
    padding: 2px
    