.news
  .video__title WYDARZENIA 
  .news__events
    .news__menu
      .news__menuItems
        .news__EventName(href="#") LOREM IPSUM 
        .news__number 25
      .video__title
      .news__menuItems
        .news__EventName(href="#") LOREM IPSUM 
        .news__number 25
      .video__title
      .news__menuItems
        .news__EventName(href="#") LOREM IPSUM 
        .news__number 25
      .video__title
      .news__menuItems
        .news__EventName(href="#") LOREM IPSUM 
        .news__number 25
      .video__title



    .news__galleryofEvents
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ            
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ    
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ         
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ   
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ      
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ   
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ      
      .news__galleryItem
        .news__galleryDetails
          img.news__image(src="assets/images/header/1zagiel.svg")
          .news__imageCaption
            .news__eventName REJS DOOKOŁA POLSKI 
            .news__eventData 22.05.2017
          .news__iconOnEvent 
            .news__textOnIcon NOWOŚĆ       
          




