.newsinOffer

  &__galleryItem
    width: 100%
    display: flex
    padding-top: 20px 
    padding-bottom: 95px
    justify-content: space-between
    +max(969)
      padding-top: 20px
      display: block
      text-align: center

  &__galleryDetails
    width: 33.33%
    position: relative
    margin: 4px auto
    margin-left: 10px
    bottom: 0
    left: 0  
    +max(969)
      justify-content: center
      width: 100%

    // position: relative
    // width: 100%
    // border: 1px solid $gallery


  &__imageCaption
    color: $porcelain
    background: rgba(46,48,51,0.75)
    height: 64px
    padding: 0 20px
    position: absolute
    font-weight: bold
    width: 100%
    bottom: 0
    left: 0
    font-size: 15px
    +max(468)
      font-size: 12px
  &__eventName 
    border-top: 2px solid white
    width: 100%
    padding-top: 10px
  &__eventData
    font-size: 12px      
  &__image
    width: 100%


  &__iconOnEvent  
    color: $porcelain
    position: absolute
    font-weight: bold
    width: 100%
    margin: 10px


    &__textOnIcon
    align-content: center
    background: $monza
    width: 65px
    height: 18px
    text-align: center
    display: inline
    top: 0
    right: 0
    font-size: 12px
    padding: 2px
    