.newsinOffer
  .video__title AKTUALNE WYDARZENIA
  .newsinOffer__galleryItem
    .newsinOffer__galleryDetails
      img.newsinOffer__image(src="assets/images/header/1zagiel.svg")
      .newsinOffer__imageCaption
        .newsinOffer__eventName REJS DOOKOŁA POLSKI 
        .newsinOffer__eventData 22.05.2017
      .newsinOffer__iconOnEvent 
        .newsinOffer__textOnIcon NOWOŚĆ         
    .newsinOffer__galleryDetails
      img.newsinOffer__image(src="assets/images/header/1zagiel.svg")
      .newsinOffer__imageCaption
        .newsinOffer__eventName REJS DOOKOŁA POLSKI 
        .newsinOffer__eventData 22.05.2017
      .newsinOffer__iconOnEvent 
        .newsinOffer__textOnIcon NOWOŚĆ          
    .newsinOffer__galleryDetails
      img.newsinOffer__image(src="assets/images/header/1zagiel.svg")
      .newsinOffer__imageCaption
        .newsinOffer__eventName REJS DOOKOŁA POLSKI 
        .newsinOffer__eventData 22.05.2017
      .newsinOffer__iconOnEvent 
        .newsinOffer__textOnIcon NOWOŚĆ   
      






